<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>EDITORIALES</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/editoriales.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        
        <nav th:replace="/fragments/navbar :: nav"></nav>

        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Alta</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody th:each="editorial : ${editoriales}">
                <tr>
                    <td th:text="${editorial.id}"></td>
                    <td th:text="${editorial.nombre}"></td>
                    <td>
                        <i th:if="${editorial.alta}"><img src="/images/Alta.png" width="20"/></i>
                        <i th:unless="${editorial.alta}"><img src="/images/Baja.png" width="20"/></i>
                    </td>
                    <td>
                        <a th:href="@{/modificarEditorial/__${editorial.id}__}"><img src="/images/Editar.png" alt="alt" width="20"/></a>
                        <a th:href="@{/altaEditorial/__${editorial.id}__}"><img src="/images/AltaLogo.png" alt="alt" width="20"/></a>
                        <a th:href="@{/bajaEditorial/__${editorial.id}__}"><img src="/images/BajaLogo.png" alt="alt" width="20"/></a>
                        <!-- Button trigger modal -->
                        <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <img src="/images/Eliminar.png" alt="alt" width="20"/>
                        </a>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h2>Está seguro que desea eliminar esta editorial?</h2>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal"><img src="/images/Baja.png" alt="alt" width="20"/></button>
                                        <button type="button" class="btn btn-dark"><a th:href="@{/eliminarEditorial/__${editorial.id}__}"><img src="/images/Alta.png" alt="alt" width="20"/></a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
