<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>REGISTRO Libro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/registroLibro.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-custom" id="barra">
            <div class="container-fluid">
                <img src="images/logo-libro.png" id="imagenes"/>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <form method="get" action="/">
                            <button type="submit" class="btn btn-secondary" id="botones">Inicio</button>
                        </form>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Secciones
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" th:href="@{/registroLibro}">Registro Libro</a></li>
                                <li><a class="dropdown-item" th:href="@{/registroAutor}">Registro Autor</a></li>
                                <li><a class="dropdown-item" th:href="@{/registroEditorial}">Registro Editorial</a></li>
                                <li><a class="dropdown-item" th:href="@{/libros}">Libros</a></li>
                                <li><a class="dropdown-item" th:href="@{/autores}">Autores</a></li>
                                <li><a class="dropdown-item" th:href="@{/editoriales}">Editoriales</a></li>
                            </ul>
                        </div>
                    </ul>
                    <div class="d-flex">
                        <form method="get" action="/registroUsuario">
                            <button type="submit" class="btn btn-secondary" id="botones">Registrarse</button>
                        </form>
                        <form method="get" action="/loginUsuario">
                            <button type="submit" class="btn btn-secondary" id="botones">Loguearse</button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <form class="formulario" method="post" th:action="@{/registroLibro}" enctype="multipart/form-data">

            <div class="validaciones" style="text-align: center">
                <p th:if="${Exito != null}" th:text="${Exito}"></p>
                <p th:if="${Error != null}" th:text="${Error}"></p>
            </div>

            <div class="formulario2">
                <div class="mb-3">
                    <label for="isbn" class="form-label">ISBN</label>
                    <input type="text" class="form-control" id="isbn" name="isbn" th:value="${isbn}">
                </div>
                <div class="mb-3">
                    <label for="titulo" class="form-label">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" th:value="${titulo}">
                </div>
                <div class="mb-3">
                    <label for="anio" class="form-label">Año del libro</label>
                    <input type="text" class="form-control" id="anio" name="anio" th:value="${anio}">
                </div>
                <div class="mb-3">
                    <label for="foto" class="form-label">Foto</label>
                    <input type="file" class="form-control" id="foto" name="foto" th:value="${foto}">
                </div>
                <div class="mb-3">
                    <label for="autor" class="form-label">Autor</label>
                    <select name="autor" class="form-control" id="autor">
                        <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="editorial" class="form-label">Editorial</label>
                    <select name="editorial" class="form-control" id="editorial">
                        <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-light">Enviar</button>
                <button type="reset" class="btn btn-light">Borrar</button>
            </div>
        </form>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>