/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 22 oct. 2021, 20:51:41
    Author     : blackstrack
*/

body {
    width: 500px;
    padding: 20px;
}