/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 21 oct. 2021, 22:01:30
    Author     : blackstrack
*/

.ContenedorContenido {
    background-color: #d3f7ff;
    height: 800px;
}

.Titulo1 {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Titulo2 {
    font-family: cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Parrafo {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: darkblue;
}
